@import '../../ultilities/variables';

.main-footer-wrap {
  .container {
    .logo {
      width: 200px;
    }
    .item {
      .network-info {
        .network-logo {
        }
        p {
        }

        button {
          small {
          }
          i {
          }
        }
      }
    }
    .laboon {
      .laboon-info {
        small {

        }
      }

      .laboon-logo {
        width: 80px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .main-footer-wrap {
    .container {
      margin: 2rem 0;

      .logo {
        width: 180px;
      }

      .item {
        margin-top: 1.25rem;

        .network-info {
          margin: 1rem 0.625rem;

          .network-logo {
            width: 40px;
          }

          p {
            font-size: 0.8rem;
          }

          button {
            margin-left: 1rem;
            padding: 1rem 1.5rem;

            small {
              font-size: 1.3rem;
            }

            i {
              margin-left: 0.5rem;
            }
          }
        }
      }
      .laboon {
        flex-direction: column;

        .laboon-info {
          margin-top: 1rem;
          flex-direction: column;

          small {
            font-size: 14px;
          }
        }

        .laboon-logo {
          width: 84px;
        }
      }
    }
  }
}