@import '../../ultilities/variables';

.modal-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
}
