$primaryColor: #02042F;

$lightPrimaryColor: #E5E6EF;

$secondaryColor: #6C83EC; 

$lightSecondaryColor: #DFE5FF;

$tertiaryColor: #9F66B6;

$gradientColor: linear-gradient(51.86deg, #9F66B6 0%, #6C83EC 102.3%);

$navTextColor: #ffffff;

$primaryTextColor: #ffffff;

$secondaryTextColor: #000000;

$alertTextColor: #EB5757;

$transition: all 400ms ease;

$firstScreenBgColor: #ffffff;

$secondScreenBgColor: #02042F;

$thirdScreenBgColor: #ffffff;

$primaryBorderRadius: 8px;

$secondaryBorderRadius: 5px;

$btnPadding: 0.625rem 2rem;

$borderBottom: 1px solid $lightPrimaryColor;